body{
    margin: 0 30%;
}
h1, form{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    margin-top: 15%;
    color: #14131388;
}

input{
    padding: 1%;
    font-weight: 300;
}
button{
    padding: 1%;
    background-color: #89aee6;
    font-weight: bolder;
}